@tailwind components;
@tailwind utilities;

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 30px;
  width: 100%;
}
a {
  @apply no-underline;
}
.text-sm {
  font-size: 0.875rem;
}
span {
  font-family: "Monoton";
  src: url("/Monoton,Poppins/Monoton");
  color: #0484bb;
}

.A {
  color: #0484bb;
}

.box11 {
  padding: 10px;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-decoration: none;
}

li {
  display: flex;
  gap: 60px;
  margin-left: 150px;
  top: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.hem {
  color: rgb(90, 90, 90);
  text-decoration: none;
}

.ommig {
  color: rgb(90, 90, 90);
}

.kontaktlink {
  color: rgb(90, 90, 90);
}

.rad2 {
  display: grid;
  display: flex;
  align-items: start;
  justify-content: space-between;
  row-gap: 16px;
  width: 100%;
  padding: 70px;
}

h2 {
  margin-right: 25px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: rgb(61, 61, 61);
}

p {
  font-style: normal;
  font-size: 2rem;
  line-height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: rgb(90, 90, 90);
}
.min-mail {
  margin-left: 200px;
  margin-top: 80px;
}
.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* horisontellt */
}

.icon {
  width: 60px;
  height: 60px;
  margin: 8px;
}
.proglogo {
  margin-left: 520px;
}

.box21 {
  margin: 10px;
}

.box22 {
  position: relative;
  margin-right: 200px;
  padding: 30px;
}

.ph1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
}

.ph2 {
  position: relative;
  width: 300px;
  height: 310px;
  margin-right: 200px;
  margin: 0 auto;
  z-index: 0;
}

.rad4 {
  display: grid;
  gap: 16px;
  row-gap: 16px;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-logo {
  font-size: 2.3rem;
  color: #0484bb;
  font-family: bold;
}
nav-link {
  color: #0484bb;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0484bb;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background-color: rgb(237, 243, 246);
}
.imgcard1 {
  height: 250px;
  width: 250px;
  margin-left: 25px;
}

.beskrivning {
  display: block;
  align-items: center;
  width: 90%;
  padding: 70px;
}
.textimg {
  width: 100px;
}
.textimg2 {
  width: 100px; /* eller 100% om du vill att den ska sträcka sig över hela bredden */
  margin-left: 80%;
}
.textimg3 {
  width: 100px; /* eller 100% om du vill att den ska sträcka sig över hela bredden */
  margin-left: 40%;
  margin-top: 40px;
}
/*kontakt sida*/
.input-label {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.kontakt {
  text-align: center;
  color: rgb(90, 90, 90);
  width: 60%;
  height: 400px;
  margin-left: 250px;
}
.gammaltel {
  width: 300px;
  margin-left: 500px;
}
h1 {
  font-size: 2.5rem;
}

h5 {
  margin-left: 25px;
}

.Kontakt {
  display: flex;
  flex-direction: column;
}

button {
  margin-left: 333px;
  height: 30px;
  width: 60px;
}

.rad4 {
  margin-top: 64px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }
  h1 {
    margin-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .A {
    margin-top: -40px;
  }
  .rad2 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    padding: 70px;
    margin-top: 90px;
  }

  .box11,
  .rad2,
  .rad3,
  .rad4 {
    padding: 20px;
  }
  .box22 {
    margin-top: 50px;
  }
  .ph1,
  .ph2 {
    width: 200px;
    height: 200px;
  }
  .rad4 .description {
    font-size: 0.75rem;
    padding: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 750px;
    grid-template-columns: repeat(3, 1fr); /* Dela upp footer i 3 kolumner */
    gap: -102px; /* Justera avståndet mellan kolumner */
    width: 100%; /* Gör foten fullbredd */
    background-color: #0484bbb4; /* Bakgrundsfärg */
    color: white; /* Textfärg */
    margin-top: 14px; /* Marginal över foten */
  }
  .inner {
    margin-top: -90px;
  }
  .box41,
  .box42,
  .box43 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrera innehållet */
    justify-content: center; /* Centrera innehållet */
    width: 100%; /* Gör rutorna fullbredd */
    height: 250px; /* Låt höjden vara automatisk för att anpassa sig till innehållet */
    border-radius: 10px; /* Rundade hörn */
    line-height: 28px; /* Radavstånd */
  }

  .contact-button {
    padding: 10px 15px; /* Justera padding för bättre användarupplevelse */
    background-color: #0070f3; /* Bakgrundsfärg för knappen */
    color: white; /* Textfärg för knappen */
    border: none; /* Ingen ram */
    border-radius: 5px; /* Rundade hörn */
    cursor: pointer; /* Visar att det är klickbart */
    font-weight: bold; /* Fet stil för texten */
    transition: background-color 0.3s ease; /* Lägger till övergångseffekt */
    width: auto; /* Låt bredden vara automatisk */
    height: 40px; /* Höjd på knappen */
  }

  .contact-button:hover {
    background-color: #005bb5; /* Mörkare färg vid hover */
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center icons in footer */
  }

  .icon {
    width: 40px; /* Adjust icon size */
    height: 40px;
    margin: 8px;
  }
  .card1 {
    width: 100%;
    height: auto;
  }

  .nav-menu {
    flex-direction: column;
    gap: 20px;
  }

  li {
    font-size: 18px;
    margin-left: 0;
    gap: 20px;
  }

  h3,
  h2,
  p {
    font-size: 1.5rem;
    padding: 10px;
  }

  .proglogo {
    margin-left: 0;
    text-align: center;
  }
}
